header{
    font-family: sans-serif;
    font-size: 18px;
    padding: 1px;
    
}
/* 
VARIATI ALE FONTULUI POPPINS
    .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */


.meniu_nav{
    margin-right: 0px;
    float: left;
}
.meniu_nav:hover{
    left:0;
}
.trigger:checked ~ nav{
left:0;

}
.trigger{
    display: none;
}
nav{
    background: white;
    width: 10px;
    height: 100%;
    padding: 1px 120px;
    margin-top: 5px;
    position: absolute;
    left: -50vw;
    box-sizing: border-box;
    /*Animatie meniu*/
    transition: left 0.3s ease-in-out;
    border-radius: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 2px;
}
nav ul li {
    margin-bottom: 100px;
    
}
nav ul li a {
    font-size: 17px;
    text-decoration: none;  
    color:#14124c;
    padding: 0px;
    
}
nav ul li a:hover{
   
    text-shadow: 0 0 3px #ffca60  , 0 0 5px #ca5757;
}
